stages:
  - build
  - sonar
  - docker
  - deploy

image: node:16

cache:
  paths:
    - node_modules/

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  DOCKER_DRIVER: overlay2

before_script:
  - npm ci

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/

sonar:
  stage: sonar
  image:
    name: sonarsource/sonar-scanner-cli:latest
  script:
    - sonar-scanner
  allow_failure: false

docker-build:
  stage: docker
  image: docker:20
  services:
    - docker:20-dind
  script:
    - docker build -t $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA

deploy:
  stage: deploy
  script:
    - echo "Deploying..."
  when: manual
