name: CI-CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Node не потрібний, видаляємо Angular CLI і npm install

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/todo-app:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/todo-app:latest

      - name: Deploy container on self-hosted GH Runner
        run: |
          docker stop todo-container || true
          docker rm todo-container || true
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/todo-app:latest
          docker run -d --name todo-container -p 8080:80 ${{ secrets.DOCKERHUB_USERNAME }}/todo-app:latest
